<% provide(:title, "About") %>     
<h1>About</h1>
<br><br>
<div style="background-color: #770522; width: 50%;">
  <p>
    <a href="https://www.google.com">GOOGLE</a>
  </p>
</div>
<div style="background-color: #220055; width: 50%;">
  <p>
    <a href="help">HELP</a>
  </p>
</div>
